{% extends 'index.html' %}
{% block head %}
    <title>Компания</title>
    <link rel="stylesheet" href= "/static/css/about.css">
{% endblock %}

{% block content %}
     <div class = 'text'>
         <img src = "/static/images/swlogo.jpg" width="300" height="300" class = 'left'>
         <h1>House of Sweets</h1>
         <h3> House of Sweets - одна из крупнейших компаний России, позволяющая окунуться с головой в шоколад. Наша компания занимается производством только самых качественных продуктов! Мы работает с 2003 года и с каждым годом ассортимент наших товаров только пополняется, а их качество растет! Почувствуйте любовь, вложенную в наши творения, и забудьте о горькой жизни! </h3>
      </div>
      <div class = 'text'>
        <img src = "/static/images/comm.png" width="500" height="500" class = 'right'>
        <h1>Наша команда</h1>
        <h3> У нас работают лучшие повара, а также врачи, которые отслеживают влияние продуктов на ваше здоровье. Наша команда оценит ваши необычные вкусы и сделает все, чтобы порадавать ваши вкусовые рецепторы!</h3>
      </div>
{% endblock %}
