body {

    background-color: #e3a63f;
}
header {
    padding-top: 20px;
    height: 100px; /* Высота шапки */
    background-color: #432D34; /* Цвет фона  */
    display: flex; /* Включаем гибкость блока */
    font-weight: 700;
}
ul {
    list-style: none; /* Убираем маркеры в списке */
    display: flex; /* Включаем гибкость блока */
    justify-content: start; /* Выравниваем по левому краю ссылки */
}
  
li a {
    color: #AE7E51; /* Цвет текста */
    padding: 22px; /* Создаем поля вокруг ссылок по 22 пикселя */
    font-size: 30px; /* Размер шрифта */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    font-family: cursive;
}
  
li a:hover {
    background-color: #472844; /* Цвет фона при наведении на кнопку */
}

.card {
    display: inline-block;
    width: 40%;
    margin: 3%;
    background-color: #ecf0f1;
    border: double 5px #2c3e50;
    text-decoration: none; 
}

.card a {
    text-decoration: none;
}

.main {
    text-align: center;
}

.card:hover {
    background-color: #95a5a6;
}
.prom {
    color: #34495e;
    font-size: 26px;
    font-weight: bold;
}